<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.adaca.memoria">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/botao_memoria"
        android:label="Jogo da Memória"
        android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen">
        <activity
            android:name="com.adaca.memoria.MainActivity"
            android:label="Jogo da Memória"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.adaca.memoria.MainActivity2"
            android:label="Jogo da Memória"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name="com.adaca.memoria.Parabens"
            android:label="Jogo da Memória"
            android:screenOrientation="portrait"/>
    </application>
</manifest>